*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
}
a{
    text-decoration: none;
}
//----------------------------------HEADER------------------------------------
header{
background: pink;
width: 100%;
display: flex;
align-items: center;
// --------LOGO
    .logo{
  width: 30%;
    }
    // ---------------------HEADER-MENU

    .header-menu{
        width: 55%;
        text-align: right;
        ul{
            li{
                a{display: block;
                    padding: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    color: rgba(131, 134, 140, 0.7);
                }
            }
        }

    }
// --------------------------HEADER-END
    .header-end{
        width: 15%;
        align-items: center;
        // justify-content: space-between;
        .header-sign{
            width: 40%;
            background: #24a9e1;
            color: #ffffff;
            padding: 5px 14px;
            border-radius: 10px;
        }
        
        .header-icon{
            width: 40%;
            align-items: center;
            .cart{
                color: #24a9e1;

            }
        }

    }
}